.wrapper {
	width: 100%;
	max-width: 600px;
	padding: 0 15px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.mdl-layout__header {
	min-height: auto;
}
.footer {
	display: flex;
	justify-content: flex-end;
}
.footer .mdl-button {
	margin-bottom: 16px;
}
.mdl-progress {
	width: 100%;
}
.mdl-progress--red > .progressbar {
	background-color: #ff4081 !important;
}
.mdl-list {
	padding: 0;
	margin-bottom: 4px;
}
.mdl-list--center {
	margin: auto;
}
.mdl-list__item--center {
	justify-content: center;
}
.mdl-list__item {
	padding: 5px 0;
	flex-wrap: wrap;
}
.mdl-button.mdl-button--margin {
	margin-right: 8px;
	margin-bottom: 8px;
}
.mdl-button--accent.mdl-button--accent.mdl-button--raised.is-not-a-question {
	background: #c52259;
}
.mdl-card {
	margin: 32px auto auto;
	width: 100%;
}
.mdl-card__title {
	padding-top: 120px;
	position: relative;
}
.mdl-card__title:after {
	content : "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: url('../assets/just-waves.png');
	width: 100%;
	height: 100%;
	opacity : 0.3;
	z-index: -1;
}
.mdl-card__subtitle-text {
	line-height: 20px;
}
.mdl-card .mdl-list {
	padding: 32px 16px 16px;
	margin-bottom: 16px;
	margin-top: 0;
	border-top: 1px solid #ddf4fe;
}
.mdl-card .mdl-list .mdl-list__item {
	font-size: 15px;
	min-height: 32px;
}
.result-conditions {
	margin-right: 5px;
}
.result-endings {
	margin-left: 5px;
	color: #ff4081;
	font-weight: bold;
}
.button-back {
	margin-right: auto;
}
.button-message {
	margin-right: auto;
	min-width: auto;
}